{% comment %} {{ 'custom-image-grid.css' |  asset_url |  stylesheet_tag }}  {% endcomment %}

{% style %}
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }
  
    @media only screen and (min-width: 750px) {
      .padding-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
     }
     .custom-bundle{
      display:flex;
      justify-content:center;
      align-items:center;
     }
     .custom-bundle-container{
      border: 1px solid green;
      padding: 30px;
      box-sizing:border-box;
      width: 80%;
     }
     .custom-bundle_add-icon{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
     }
  {% endstyle %}
  {% if product.metafields.custom.bundle_products != blank %}
      <div class=" padding-{{ section.id }}">
        <div class="section-title center h2">{{ section.settings.section_title }}</div>
          <div class="page-width custom-bundle">
              <div class="custom-bundle-container custom-border-radius grid grid--2-col grid--4-col-desktop">
                  {% for product in product.metafields.custom.bundle_products.value %}
                      {% render 'product-card', product: product, section_id: section.id %}
                      <div class = "custom-bundle_add-icon">
                        {% unless forloop.last %}
                            <div>'+'</div>
                        {% endunless %}
                      </div>
                  {% endfor %} 
              </div>
          </div>
      </div>
  {% endif %}

  {% schema %}
  {
    "name": "Custom Bundle",
    "tag" : "section",
    "settings": [
    {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Quick links"
    },

      {
        "type": "header",
        "content": "Adjust Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Custom Bundle"
      }
    ]
  }
  {% endschema %}